body{
    font-family: 'Times New Roman', Times, serif;
    background-color: #4c2b08;
}
div{
    background-color: #6d3914;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 80px;
    border-radius: 15px;
    color: #b7957f;
}
input{
    padding: 15px;
    border: none;
    outline: none;
    font-size: 15px;
}
.inputSubmit{
    background-color: #895d2b;
    border: none;
    padding: 15px;
    width: 100%;
    border-radius: 10px;
    color: white;
    font-size: 15px;
    cursor: pointer;
}
.inputSubmit:hover{
    background-color: #e8d1a7;
}
.inputVoltar{
    background-color: #895d2b;
    border: none;
    padding: 15px;
    width: 100%;
    border-radius: 10px;
    color: white;
    font-size: 15px;
    cursor: pointer;
}
.inputVoltar:hover{
    background-color: #e8d1a7;
}